<a href="https://colab.research.google.com/github/AbdifatahAHMEDAWALEH/Machine-Learning-Project-5/blob/main/IML_P5_Deployement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#import bibliotheques python
import pandas as pd
import nltk
import matplotlib.pyplot as plt
import numpy as np
from sklearn.pipeline import Pipeline

In [3]:
nltk.download("book")

[nltk_data] Downloading collection 'book'
[nltk_data]    |
[nltk_data]    | Downloading package abc to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/abc.zip.
[nltk_data]    | Downloading package brown to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/brown.zip.
[nltk_data]    | Downloading package chat80 to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/chat80.zip.
[nltk_data]    | Downloading package cmudict to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/cmudict.zip.
[nltk_data]    | Downloading package conll2000 to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/conll2000.zip.
[nltk_data]    | Downloading package conll2002 to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/conll2002.zip.
[nltk_data]    | Downloading package dependency_treebank to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping corpora/dependency_treebank.zip.
[nltk_data]    | Downloading package genesis to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/genesis.zip.
[nltk_data]    | Downloading package gutenberg to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/gutenberg.zip.
[nltk_data]    | Downloading package ieer to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/ieer.zip.
[nltk_data]    | Downloading package inaugural to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/inaugural.zip.
[nltk_data]    | Downloading package movie_reviews to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping corpora/movie_reviews.zip.
[nltk_data]    | Downloading package nps_chat to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/nps_chat.zip.
[nltk_data]    | Downloading package names to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/names.zip.
[nltk_data]    | Downloading package ppattach to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/ppattach.zip.
[nltk_data]    | Downloading package reuters to /root/nltk_data...
[nltk_data]    | Downloading package senseval to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/senseval.zip.
[nltk_data]    | Downloading package state_union to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/state_union.zip.
[nltk_data]    | Downloading package stopwords to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/stopwords.zip.
[nltk_data]    | Downloading package swadesh to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/swadesh.zip.
[nltk_data]    | Downloading package timit to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/timit.zip.
[nltk_data]    | Downloading package treebank to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/treebank.zip.
[nltk_data]    | Downloading package toolbox to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/toolbox.zip.
[nltk_data]    | Downloading package udhr to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/udhr.zip.
[nltk_data]    | Downloading package udhr2 to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/udhr2.zip.
[nltk_data]    | Downloading package unicode_samples to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping corpora/unicode_samples.zip.
[nltk_data]    | Downloading package webtext to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/webtext.zip.
[nltk_data]    | Downloading package wordnet to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/wordnet.zip.
[nltk_data]    | Downloading package wordnet_ic to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/wordnet_ic.zip.
[nltk_data]    | Downloading package words to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/words.zip.
[nltk_data]    | Downloading package maxent_treebank_pos_tagger to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping taggers/maxent_treebank_pos_tagger.zip.
[nltk_data]    | Downloading package maxent_ne_chunker to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping chunkers/maxent_ne_chunker.zip.
[nltk_data]    | Downloading package universal_tagset to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping taggers/universal_tagset.zip.
[nltk_data]    | Downloading package punkt to /root/nltk_data...
[nltk_data]    |   Unzipping tokenizers/punkt.zip.
[nltk_data]    | Downloading package book_grammars to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping grammars/book_grammars.zip.
[nltk_data]    | Downloading package city_database to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping corpora/city_database.zip.
[nltk_data]    | Downloading package tagsets to /root/nltk_data...
[nltk_data]    |   Unzipping help/tagsets.zip.
[nltk_data]    | Downloading package panlex_swadesh to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    | Downloading package averaged_perceptron_tagger to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping taggers/averaged_perceptron_tagger.zip.
[nltk_data]    |
[nltk_data]  Done downloading collection book

True

In [4]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [8]:
Data = pd.read_csv('/content/drive/My Drive/Parcours_IML/IML_Projet_5/cleaned_dataset_iml_p5_v2_0.csv',sep=',')

In [9]:
Data.head()

   Id  ...                                              Tags
0   4  ...  c# floating-point type-conversion double decimal
1   9  ...                                  c# .net datetime
2  11  ...      c# datetime time datediff relative-time-span
3  16  ...                     c# linq web-services .net-3.5
4  17  ...           mysql database binary-data data-storage

[5 rows x 3 columns]

# Mise en forme des Tags

In [11]:
# Mise en forme des tags
df = Data.copy()
# cette fonction compte le nombre de mot dans la variable Tags en se servant des crochet '<>'
def number_of_word_2(string):
  x = list(string)
  a = []
  for i in range(len(x)):
    if x[i]==' ':
      a.append(1)
  return len(a)

  # cette fonction decompose chaque valeur de textus en une liste de mot
def word_decomposition_2(string):
    words = []
    parts = string.split(' ')
    for i in range(number_of_word_2(string)+1):
      words.append(parts[i])
    return words
seperated_tags = []
corpus = df['Tags']
for i in range(len(corpus)):
  seperated_tags.append(word_decomposition_2(corpus[i]))
df['Tags']=seperated_tags
df.head()

   Id  ...                                               Tags
0   4  ...  [c#, floating-point, type-conversion, double, ...
1   9  ...                               [c#, .net, datetime]
2  11  ...  [c#, datetime, time, datediff, relative-time-s...
3  16  ...                 [c#, linq, web-services, .net-3.5]
4  17  ...       [mysql, database, binary-data, data-storage]

[5 rows x 3 columns]

In [14]:
tags = df['Tags']
unique_tag_word = []
for row in tags:
  for word in row:
    unique_tag_word.append(word)
test = pd.DataFrame()
test['unique_tag_word'] = unique_tag_word

print('il existe : ',len(test.unique_tag_word.unique()),' Tag unique')
data_count = test.unique_tag_word.value_counts()
data = pd.DataFrame(data = np.zeros((len(df),len(data_count[0:10]))),columns=test.unique_tag_word.value_counts()[0:10].sort_values(ascending = False).index)
data

il existe :  8694  Tag unique

       java   c#  javascript  python  jquery  html  php  android  .net  c++
0       0.0  0.0         0.0     0.0     0.0   0.0  0.0      0.0   0.0  0.0
1       0.0  0.0         0.0     0.0     0.0   0.0  0.0      0.0   0.0  0.0
2       0.0  0.0         0.0     0.0     0.0   0.0  0.0      0.0   0.0  0.0
3       0.0  0.0         0.0     0.0     0.0   0.0  0.0      0.0   0.0  0.0
4       0.0  0.0         0.0     0.0     0.0   0.0  0.0      0.0   0.0  0.0
...     ...  ...         ...     ...     ...   ...  ...      ...   ...  ...
49995   0.0  0.0         0.0     0.0     0.0   0.0  0.0      0.0   0.0  0.0
49996   0.0  0.0         0.0     0.0     0.0   0.0  0.0      0.0   0.0  0.0
49997   0.0  0.0         0.0     0.0     0.0   0.0  0.0      0.0   0.0  0.0
49998   0.0  0.0         0.0     0.0     0.0   0.0  0.0      0.0   0.0  0.0
49999   0.0  0.0         0.0     0.0     0.0   0.0  0.0      0.0   0.0  0.0

[50000 rows x 10 columns]

In [15]:

a = 0
while a <4 :
  a = a+1
  for i in range(len(df['Tags'])):
    for word in df['Tags'][i]:
      if word not in data.columns:
        df['Tags'][i].remove(word)

In [17]:
empty_list = []
for i in range(len(df)):
  if df['Tags'][i] == empty_list:
    df = df.drop(i)

In [18]:
len(df)

30144

In [19]:
df = df.reset_index()
for i in range(len(df)):
  for word in df['Tags'][i]:
    data[word][i]=1

# Entrainement du model Multinomial_NB

## Train_test_split

In [ ]:
from sklearn.model_selection import train_test_split