In [1]:
#import bibliotheques python
import pandas as pd
import nltk
import matplotlib.pyplot as plt
import numpy as np
from nltk.corpus import stopwords
from nltk.stem import *
from nltk.stem.snowball import SnowballStemmer
from nltk.stem import WordNetLemmatizer
import joblib

In [2]:
df = joblib.load('cleaned_data.sav')

In [3]:
df

,index,Id,Tags,Body,java,c#,javascript,python,jquery,html,...,regex,iphone,bash,objective-c,ios,windows,ruby,eclipse,tsql,database
0,0,4,[c#],convert decim doubl track bar chang form opac ...,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,9,"[c#, .net]",calcul someon age base datetim birthday given ...,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,11,[c#],calcul relat time given specif datetim display...,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,16,[c#],fill dataset datat linq queri result expo linq...,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,17,"[mysql, database]",binari mysql store binari http en wikipedia or...,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41163,41163,8057565,[mysql],mysql updat inner join tabl queri idea problem...,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
41164,41164,8054165,[html],put method form put method form send form server,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
41165,41165,8064691,"[javascript, html]",pas along variabl xmlhttprequest send variabl ...,0.0,0.0,1.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
41166,41166,8057607,[java],mock privat method powermock method still call...,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
41167,41167,8067590,[javascript],associ array versus javascript script hash tab...,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# Training data

In [4]:
X = df.Body
Y = df.drop(columns = ['Id','index','Body','Tags'])

# Unsupervided Method

## LDA

In [5]:
from sklearn.feature_extraction.text import TfidfVectorizer
count_vec = TfidfVectorizer(max_df = 0.95, min_df = 0.01 , stop_words = 'english')
X_fited = count_vec.fit_transform(X)

from sklearn.decomposition import LatentDirichletAllocation
lda = LatentDirichletAllocation(n_components = 10,max_iter=5,learning_method='online',learning_offset=50,random_state = 0).fit(X_fited)

In [7]:
 def display_topics(model, feature_names, no_top_words):
    for topic_idx, topic in enumerate(model.components_):
        print("Topic {}:".format(topic_idx))
        print(" ".join([feature_names[i] for i in topic.argsort()[:-no_top_words - 1:-1]]))

no_top_words = 20
display_topics(lda, count_vec.get_feature_names(), no_top_words)

Topic 0:
android activ app devic applic iphon button screen view io programmat disabl control window servic context detect mode develop enabl
Topic 1:
foo map bar variabl differ php xml attribut echo true print session fals boolean properti condit oper defin mean root
Topic 2:
android self view word space layout def size max posit filter super center schema item chang import calcul version hello
Topic 3:
url http php json request page server net web connect post asp email send string ajax form password www respons
Topic 4:
git directori command eclips project instal path commit folder bash branch run window script version line org chang http linux
Topic 5:
java python thread read program line http time run differ question process write method log know librari exampl whi noreferr
Topic 6:
string public int void method java static privat char null amp std regex doubl match express variabl main pas declar
Topic 7:
tabl date sql column select mysql queri databas row datetim server insert time 00 store format day join record field
Topic 8:
array string list number convert charact item key element python loop remov byte iter var integ int dictionari javascript length
Topic 9:
div imag jqueri cs button element input color javascript width click page event style height background chang select form img

## NMF

In [9]:
from sklearn.decomposition import NMF
nmf = NMF(n_components=10, random_state=1, alpha=.1, l1_ratio=.5, init='nndsvd')
nmf.fit(X_fited)

NMF(alpha=0.1, init='nndsvd', l1_ratio=0.5, n_components=10, random_state=1)

In [11]:
no_top_words = 20
display_topics(nmf, count_vec.get_feature_names(), no_top_words)

Topic 0:
http php javascript window rel noreferr script python page line run net applic blockquot url question know differ form jqueri
Topic 1:
string convert charact public int char replac remov number split format std method contain regex match exampl length line void
Topic 2:
tabl sql select column queri row mysql databas server insert null key field join statement updat record store result count
Topic 3:
div cs jqueri element width height imag style background color input click content page button posit left border javascript snippet
Topic 4:
android button activ view app imag applic xml layout devic develop color screen background item chang public programmat display schema
Topic 5:
array element int byte php key var convert javascript sort loop index item length size number initi integ char foreach
Topic 6:
list python item element iter add sort dictionari print index collect loop public generic order linq select method contain append
Topic 7:
java method public int lang eclips org static thread util main void program whi println import differ api doc apach
Topic 8:
git commit branch repositori chang remot push directori local pull command head origin project delet add version ignor folder tag
Topic 9:
date datetim time format day convert 00 year 2010 current number 10 javascript 12 calcul second 11 30 php mysql

# Supervised Method