In [3]:
#import bibliotheques python
import pandas as pd
import nltk
import matplotlib.pyplot as plt
import numpy as np
from nltk.corpus import stopwords
from nltk.stem import *
from nltk.stem.snowball import SnowballStemmer
from nltk.stem import WordNetLemmatizer
import joblib

In [4]:
df = joblib.load('cleaned_data.sav')

In [5]:
df.head(5)

,index,Id,Tags,Body,java,c#,javascript,python,jquery,html,...,regex,iphone,bash,objective-c,ios,windows,ruby,eclipse,tsql,database
0,0,4,[c#],convert decim doubl track bar form opac lang p...,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,9,"[c#, .net]",calcul someon age base datetim birthday given ...,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,11,[c#],calcul relat given specif datetim display rela...,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,16,[c#],fill dataset datat linq queri result expo linq...,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,17,"[mysql, database]",binari mysql store binari http en wikipedia wi...,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [ ]:
X = df.Body
Y = df.drop()
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.33, random_state=42)

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf_vec = TfidfVectorizer(max_df = 0.95, min_df = 0.01 , stop_words = 'english')
X_train = tfidf_vec.fit_transform(X_train)
X_test = tfidf_vec.transform(X_test)